body {
    background-color: #FEFAE0;
    color: #283618;
    font-family: Tahoma, sans-serif;
    padding: 0;
    max-width: 950px;
    margin: 0 auto;
}

a {
    color: #606C38;
}

header { 
    background-color: #606C38;
    color: #FEFAE0;
    padding: 0.5em;
}

main {
    padding: 0.5em;
}

footer{
    background-color: #606C38;
    color:  #FEFAE0;
    padding: 0.5em;
}

nav a {
    color: #DDA15E;
    padding: 0.5em;
}

h1 {
    font-family: "Baskerville", serif;
}
   