body {
    background-color: #FEFAE0;
    color: #283618;
    font-family: Tahoma, sans-serif;
    padding: 0;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    font-family: "Baskerville", serif;
}

header { 
    background-color: #606C38;
    color: #FEFAE0;
    padding: 0.5em;

}


footer{
    background-color: #606C38;
    color:  #FEFAE0;
    padding: 0.5em;
}

nav a {
    color: #DDA15E;
    display: inline-block;
    text-indent: 0;
}

header nav a, footer nav a {
    color: #FFE75C;
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;  
  flex-wrap: wrap;  
  gap: 5px;
}

.nav-list li {
  border-right: 2px solid #FEFAE0;
  padding-right: 5px;
}

main a {
    color: #606C38;
    text-decoration: none;
}

main a:visited {
    color: #283618;
    text-decoration: none;
}

.review-img{
    max-width: 550px;
    height: auto;
    border: 2px solid #333;
    border-radius: 10px;
}

