<footer>
    <nav>
    <p>Designed by Robert Williams, certified in Responsive Web Design.</p>
    <ul class="nav-list">
        <li><a href="../index.html">Home</a></li>
        <li><a href="index.html">ITIS3135</a></li>
        <li><a href="https://github.com/rWillUNCC">GitHub</a></li>
        <li><a href="https://webpages.charlotte.edu/rwill262">CLT Web</a></li>
        <li><a href="https://rwilluncc.github.io">GitHub.io</a></li>
        <li><a href="https://linkedin.com/in/robert-williams-07b454388">LinkedIn</a></li>
        <li><a href="https://www.freecodecamp.org/rcw_wobbegong">freeCodeCamp</a></li>
    </ul>
    
    </nav>

</footer>