<header> 
        <h1>Robert C. “Robbie” Williams' | Remorseless Wobbegong | ITIS 3135</h1>
        <p>Primary sites</p>
        <nav>
        <ul class="nav-list">
        <li><a href="index.html">Course Home </a></li>
        <li><a href="contract.html">Contract </a></li>
        <li><a href="website_evaluations.html">CRAP Evaluations </a></li>
        <li><a href="survey.html">Survey </a></li>
        <li><a href="cards.html">Playing Cards </a></li>
        <li><a href="inventory.html">Book Inventory </a></li>
        <li><a href="documentation.html">Technical Documentation </a></li>
        <li><a href="product.html">Product Landing</a></li>
        <li><a href="project_overview.html">Project Overview</a></li>
        </ul>
        </nav>


        <p>Miscellaneous sites</p>
        <nav>
        <ul class="nav-list">
        <li><a href="stuff/huISV@@@~~sr.htm">CRAP design</a></li>
        <li><a href="hobby/">Hobby</a></li>
        </ul>
        </nav>


</header>