body {
    background-color: #F0F4F8;
    color: #243B53;
    font-family: Verdana, sans-serif;
    padding: 0;
    max-width: 950px;
    margin: 0 auto;
}

a {
    color: #102A43;
    
}

header { 
    background-color: #102A43;
    color: #BCCCDC;
    padding: 0.5em;
}

main {
    padding: 0.5em;
}

footer{
    background-color: #102A43;
    color:  #BCCCDC ;
    padding: 0.5em;
}

nav a {
    color: #FF8A80;
    padding: 0.5em;
}

h1 {
    font-family: Georgia, serif;
}
   